<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>

  <header>
      <img src = "/images/logo-mercado-liebre.svg" alt= "">
      <div id="busqueda"></div>

      <br>

<p>Comprá en cuotas y sin tarjeta de crédito</p>

<nav>
    <ul>

        <li><a href="">Ofertas</a></li>
        <li><a href="">Tiendas oficiales</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
    </ul>

    <ul>
        <li><a href="">Creá tu cuenta</a></li>
        <li><a href="">Ingresá</a></li>
        <li><a href="">Mis compras</a></li>
    </ul>

    <img src = "/images/img-home-banner.jpg" alt= "">

</nav>

</header>

<main>


    <section>
<H2>
        <p><strong>BASADO EN TU ÚLTIMA VISITA </strong></p></H2>

        

        <img src = "/images/img-cafetera-moulinex.jpg" alt= "">
    
        <p>$6.770</p>
            <p>40% OFF</p>
                <p><strong>Cafetera Moulinex</strong></p>



                <img src = "/images/img-macbook-pro-2019.jpg" alt= "">

                <p>$230.000</p>
                    <p>20% OFF</p>
                        <p><strong>MacBook Pro 2019</strong></p>


                        <img src = "/images/img-samsung-galaxy-s10.jpg" alt= "">

                        <p>$70.500</p>
                            <p>10% OFF</p>
                                <p><strong>Samsung Galaxy S10</strong></p>

                                <img src = "/images/img-tv-samsung-smart.jpg" alt= "">

                                <p>$23.200</p>
                                    <p>5% OFF</p>
                                        <p><strong>SmartTv Samsung 43"</strong></p>
                        

    </section>

    <section>
<br>

<H2>
        <p><strong>SECCIÓN DE OFERTAS</strong></p></H2>

        
        <img src = "/images/img-cafetera-moulinex.jpg" alt= "">

        <p>$6.770</p>
            <p>40% OFF</p>
                <p><strong>Cafetera Moulinex</strong></p>


                <img src = "/images/img-macbook-pro-2019.jpg" alt= "">

    
                <p>$230.000</p>
                    <p>20% OFF</p>
                        <p><strong>MacBook Pro 2019</strong></p>

                        <img src = "/images/img-samsung-galaxy-s10.jpg" alt= "">

                        <p>$70.500</p>
                            <p>10% OFF</p>
                                <p><strong>Samsung Galaxy S10</strong></p>

                                <img src = "/images/img-tv-samsung-smart.jpg" alt= "">


                                <p>$23.200</p>
                                    <p>5% OFF</p>
                                        <p><strong>SmartTv Samsung 43"</strong></p>
                        

    </section>

</main>


<footer>

<BR>
    <BR>
    <section>
<P><STRONG>PAGÁ CON TARJETA DE CRÉDITO O EN EFECTIVO</STRONG></P>
<P>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
    puntos de pago. ¡Y siempre es seguro!</P>
    
</section>
<BR>
    <BR>
        
<section>
    <P><STRONG> ENVÍO GRATIS DESDE $ 2.500    </STRONG></P>
    <P>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</P>
        
    </section>
    <BR>
        <BR>
          
        <section>
            <P><STRONG>SEGURIDAD, DE PRINCIPIO A FIN
               
                </STRONG></P>
            <P> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</P>
                
            </section>
            <BR>
                <BR>
                   
            <section>
                <P>COPYRIGHT © 1999-2020 MERCADOLIEBRE S.R.L.</P>
              
                    
                </section>
</footer>

</body>
</html>