<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

    <header>
        <div class="contenedor1">
        <div class="logo_buscador">
           
                        <div class="logo">

            <img src="/images/logo-mercado-liebre.svg" alt="">

        </div>

        <div class="buscador">

            <input type="text" placeholder="Buscar productos, marcas" name="search">
        </div>
            <button class="icono-buscador">
        

                <i class="fa fa-search">
                </i>
            </button>
       
       
        </div>

        <div class="mano">
        <p><a href=""><i class="fas fa-hand-holding-usd"></i> </a> Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
</div>
        <nav class= "listado">

            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>

            </ul>

            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

            <ul>

                <li><a href="http://localhost:3030/register">Creá tu cuenta</a> 

                    <a href=""><i class="fas fa-id-card"></i></a>
                </li>

                <li><a href="http://localhost:3030/login">Ingresá</a>

                    <a href=""><i class="fas fa-sign-in-alt"></i></a>
                </li>

                <li><a href="">Mis compras</a>

                    <a href=""><i class="fas fa-shopping-basket"></i></a>
                </li>
            </ul>

        </nav>

        <div class="burger-menu">

            <i class="fas fa-bars"></i>
        </div>

       </header>
       <main class="login">

       <form action="/login" method="POST" class="create-form">
       
    <div class="control_form2">
                <label>Nombre del usuario</label>
    
                <input type="text" name="usuario" placeholder="usuario" class="control">
            </div>
            <span class="texto_error">Error de usuario</span>
            
            <div class="control_form2">
                <label>Contraseña</label>
        
                    <input type="contraseña" name="contraseña" placeholder="contraseña" class="control">
        </div>

        <span class="texto_error" class="text_error">Error de contraseña</span>
       
            <button type="submit" class="boton_form1"><a href="http://localhost:3030">ENVIAR</a>
            </button>
        </main>
            <footer>
                <section>
    
                    <article>
                        <div class="icono-footer">
                            <i class="fas fa-credit-card"></i>
                        </div>
        
        
                        <h3>Pagá con tarjeta de crédito o en efectivo</h3>
                        <P>Con Mercado Liebre Cash, tenés cuotas sin
                            interés con tarjeta o efectivo en
                            puntos de
                            pago. ¡Y siempre es seguro!</P>
        
                    </article>
        
                    <article>
                        <div class="icono-footer">
                            <i class="fas fa-gift"></i>
        
                        </div>
        
                        <H3>Envío gratis desde los $ 2.500</H3>
                        <P>Solo por estar registrad@ en MercadoLiebre
                            tenés envíos gratis en miles de
                            productos. Es
                            un beneficio de MercadoPuntos.</P>
        
                    </article>
                    <article>
        
                        <div class="icono-footer">
        
                            <i class="fas fa-user-shield"></i>
        
                        </div>
        
                        <H3>Seguridad de principio a fin</H3>
                        <P> ¿No te gusta? ¡Devolvelo! En Mercado Liebre
                            no hay nada que no puedas hacer
                            porque
                            estás siempre protegid@.</P>
        
                    </article>
                    <br>
        
                    <P>Copyright © 1999-2020 MercadoLiebre S.R.L.</P>
        
                </section>
            </footer>
        
        </body>
        
        </html>


