<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

    <header>
        <div class="contenedor1">
        <div class="logo_buscador">
           
                        <div class="logo">

            <img src="/images/logo-mercado-liebre.svg" alt="">

        </div>

        <div class="buscador">

            <input type="text" placeholder="Buscar productos, marcas" name="search">
        </div>
            <button class="icono-buscador">
        

                <i class="fa fa-search">
                </i>
            </button>
       
        </div>

        <div class="mano">
        <p><a href=""><i class="fas fa-hand-holding-usd"></i> </a> Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
</div>
        <nav class= "listado">

            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>

            </ul>

            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

            <ul>

                <li><a href="">Creá tu cuenta</a>

                    <a href=""><i class="fas fa-id-card"></i></a>
                </li>

                <li><a href="http://localhost:3030/login">Ingresá</a>

                    <a href=""><i class="fas fa-sign-in-alt"></i></a>
                </li>

                <li><a href="">Mis compras</a>

                    <a href=""><i class="fas fa-shopping-basket"></i></a>
                </li>
            </ul>

        </nav>

        <div class="burger-menu">

            <i class="fas fa-bars"></i>
        </div>

       </header>

       <main class="register">

<form action="/registro" method="POST" class="create-form">
    <div class="control_form">
        <label>Nombre y apellido</label>

            <input type="text" name="nombre" placeholder="nombre y apellido" class="control">
</div>
<div class="control_form">
            <label>Nombre del usuario</label>

            <input type="text" name="usuario" placeholder="usuario" class="control">
        </div>

        <div class="control_form">
            <label>Email</label>

            <input type="email" name="email" placeholder="Email" class="control">
        </div>
        <div class="control_form">
            <label>Fecha de nacimiento</label>
            <input type="date" name="fecha" class="control">
           
        </div>
        <div class="control_form">
            <label>Domicilio</label>

            <input type="text" name="Domicilio" placeholder="domicilio" class="control">
        </div>
        <div class="control_form">
            <label>Perfil del usuario</label>
            <select name= "perfil" class="control">
                <option value="Comprar">Comprar</option>
                <option value="Vender">Vender</option>
               
            </select>

            <div class="control_form">
                <label>Intereses</label>
                <label>Electro</label>
                <input type="checkbox" name="Interés" value="Electro">
                <label>Moda</label>
                <input type="checkbox" name="Interés" value="Moda">
                <label>Hogar</label>
                <input type="checkbox" name="Interés" value="Hogar">
                <label>Juguetería</label>
                <input type="checkbox" name="Interés" value="Juguetería">
                <label>Vida sana</label>
                <input type="checkbox" name="Interés" value="Vida sana">
            </div>

<div class="control_form"> 
    <label>Foto de usuario</label>
    <input type="file" name="avatar" accept=".jpg" multiple class="control">

        </div>

        <div class="control_form">
            <label>Contraseña</label>

            <input type="contraseña" name="contraseña" placeholder="contraseña" class="control">
        </div>

        <div class="control_form">
            <label>Cambiar contraseña</label>

            <input type="Cambiar contraseña" name="Cambiar contraseña" placeholder="Cambiar contraseña" class="control">
        </div>
        

        
    <button type="submit"class="boton_form"><a href="http://localhost:3030">ENVIAR</a></button>
    <button type="reset" class="boton_form">BORRAR</button>

</form>


</main>
<footer>
    <section>

        <article>
            <div class="icono-footer">
                <i class="fas fa-credit-card"></i>
            </div>


            <h3>Pagá con tarjeta de crédito o en efectivo</h3>
            <P>Con Mercado Liebre Cash, tenés cuotas sin
                interés con tarjeta o efectivo en
                puntos de
                pago. ¡Y siempre es seguro!</P>

        </article>

        <article>
            <div class="icono-footer">
                <i class="fas fa-gift"></i>

            </div>

            <H3>Envío gratis desde los $ 2.500</H3>
            <P>Solo por estar registrad@ en MercadoLiebre
                tenés envíos gratis en miles de
                productos. Es
                un beneficio de MercadoPuntos.</P>

        </article>
        <article>

            <div class="icono-footer">

                <i class="fas fa-user-shield"></i>

            </div>

            <H3>Seguridad de principio a fin</H3>
            <P> ¿No te gusta? ¡Devolvelo! En Mercado Liebre
                no hay nada que no puedas hacer
                porque
                estás siempre protegid@.</P>

        </article>
        <br>

        <P>Copyright © 1999-2020 MercadoLiebre S.R.L.</P>

    </section>
</footer>

</body>

</html>