


:root {
   --color-icono: #0000CD;

   --alineacion-texto: center;

   --tipografia: 'Roboto', sans-serif;
}



body {
    margin:0;

 min-height: 100%;
  
   
}


header {

    

background-color:  #EAC926;


font-family: var(--tipografia);

}

.logo {

  padding-top:  10px;
  padding-left:  30px;
  

  

}


li {
    list-style: none;
color: black;

   
}



a{
text-decoration: none}


H3{

font-size: 20PX;


}


P{

    font-size: 12PX;

  
    }


    section P {

        font-size: 16PX;


    }

   .precio p
   {

    font-size: 18PX;
    margin-bottom:-20px;
  
  

}




.descripcion {

    display: none;
}

ul li p  {

    text-align: var(--alineacion-texto);


    font-size: 18PX;

    
}


nav div{
    
    text-align:var(--alineacion-texto);
 
    font-size: 35px;
 
   

    color: white;

    background:  #0000CD;

    width: 45px;

    height: 45px;

    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 5px;
   
}   


.crédito{
   
text-align: var(--alineacion-texto);
line-height: 1px;
margin-bottom: 50px;



}



nav ul li a{


    color: black;
}


ul li p span{

    color: black;
}


 
.box{

    
    position: absolute;
    top: 17%;
    left: 35%;
    transform: translate(-50%, -50%);




 
  
}


.lupa

{

    position: absolute;
    top: 153px;
    left: 11%;
    transform: translate(-50%, -50%);

}

        .tarjeta

        {

            top: 70%;
            left: 500%;
            transform: translate(268%, 5%);


            font-size: 2em;
        
            color: var(--color-icono);
        
        
            width: 60px;
        
            height: 30px;
        
           
        
            border-radius: 5px;
   
            line-height: 1px

        }


        .usuario

        {

            top: 70%;
            left: 500%;
            transform: translate(268%, 5%);


            font-size: 2em;
        
            color: var(--color-icono);
        
        
            width: 60px;
        
            height: 30px;
        
           
        
            border-radius: 5px;
   
            line-height: 1px


            

        }


        .regalo

        {

            top: 70%;
            left: 500%;
            transform: translate(268%, 5%);


            font-size: 2em;
        
            color: var(--color-icono);
        
        
            width: 60px;
        
            height: 30px;
        
           
        
            border-radius: 5px;
   
            line-height: 1px

        }

        .cuotas{

            font-size: 15px;
            text-align: var(--alineacion-texto);;
           padding: 10%;
           margin-bottom: -8%;
           margin-top: 30px;
       
        
        }

       nav ul li {
            margin-left: -8%;
           
         
          
        }


       


        .camión {

            color:green;
            padding: 8px;
           
        }

        .circulo {

            width: 60px;
            height:60px;
            background-color: white;
            border-radius: 50%;
            border-color: green;
            border-style: solid;
          
            

        }

        .caja {

            background: white;
            height: 100%;
            width: 100%;
            padding: 50px;
            padding-top: 10%;
          padding-left: 5%;
          padding-right: 5%;
          border-bottom: none;
            border: 10px solid skyblue;
      border-top: 50px solid skyblue;
     border-left: 10px solid skyblue;
     border-bottom: white;
            box-sizing: border-box;
           
        
        
        }

        .caja2{



            background: white;
            height: 100%;
            width: 100%;
            padding: 50px;
            padding-top: 10%;
          padding-left: 5%;
          padding-right: 5%;

          padding-bottom: 1%;


            border: 10px solid skyblue;
      border-top: 1px solid white;
     border-left: 10px solid skyblue;
            box-sizing: border-box;

        }
          

    


        .estructura{



          width: 90%;
    
            
            background: white;
           border-top-style: solid;
           border-color: #ebebeb;
            margin-bottom: 15px;
            margin-left:15px;
            margin-right:15px;
            border-style: 1px;
          margin-top: -90px;
            
          
        }



        .palabra{

            text-align: left;
            margin-top: -100px;
            margin-left: -20px;
        }


        @media(min-device-width: 361px) and (max-device-width: 768px){


            .descripcion {

                display: flex;
            }
        .caja{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
             

            }









        



       


        