
:root {
   --color-icono: #0000CD;

   --alineacion-texto: center;

   --tipografia: 'Roboto', sans-serif;
}



body {
    margin:0;
}


header {

background-color:  #EAC926;


font-family: var(--tipografia);

}

.logo {

  padding-top:  10px;
  padding-left:  30px;
  

  

}


li {
    list-style: none;
color: black;

   
}



a{
text-decoration: none}


H3{

font-size: 24PX;


}


P{

    font-size: 12PX;

  
    }


    section P {

        font-size: 16PX;


    }

   .precio p
   {

    font-size: 18PX;
   
  
  

}

ul li p  {

    text-align: var(--alineacion-texto);


    font-size: 18PX;

    
}


nav div{
    
    text-align:var(--alineacion-texto);
 
    font-size: 35px;
 
   

    color: white;

    background:  #0000CD;

    width: 45px;

    height: 45px;

    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 5px;
   
}   




.crédito{
text-align: var(--alineacion-texto);
line-height: 1px;
margin-bottom: 50px;


}


nav ul li a{


    color: black;
}


ul li p span{

    color: black;
}


 
.box{

    
    position: absolute;
    top: 17%;
    left: 35%;
    transform: translate(-50%, -50%);




 
  
}


.lupa

{

    position: absolute;
    top: 153px;
    left: 11%;
    transform: translate(-50%, -50%);

}

        .tarjeta

        {

            top: 70%;
            left: 500%;
            transform: translate(320%, 5%);


            font-size: 2em;
        
            color: var(--color-icono);
        
        
            width: 60px;
        
            height: 30px;
        
           
        
            border-radius: 5px;
   
            line-height: 1px

        }


        .usuario

        {

            top: 70%;
            left: 500%;
            transform: translate(320%, 5%);


            font-size: 2em;
        
            color: var(--color-icono);
        
        
            width: 60px;
        
            height: 30px;
        
           
        
            border-radius: 5px;
   
            line-height: 1px


            

        }


        .regalo

        {

            top: 70%;
            left: 500%;
            transform: translate(320%, 5%);


            font-size: 2em;
        
            color: var(--color-icono);
        
        
            width: 60px;
        
            height: 30px;
        
           
        
            border-radius: 5px;
   
            line-height: 1px

        }

        .cuotas{

            font-size: 15px;
            text-align: var(--alineacion-texto);;
           padding: 10%;
           margin-bottom: -8%;
           margin-top: 30px;
       
        
        }

       nav ul li {
            margin-left: -8%;
           
         
          
        }


        .estructura-main {

         width: 90%;
         padding: 10px;
        }


       





        @media(min-device-width: 320px) and (max-device-width: 480px){}


        